header {
    height: 40rem;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Call to action buttons */

.cta {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;

}

/* Header Socials */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 3rem
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}



/* Typing animation */
.typing-cursor {
    display: inline-block;
    width: 1ch;
    height: 1.2em;
    animation: blink 0.8s infinite;
  }


/* ============= ME ==============  */
.me {
    background: linear-gradient(var(--color-primary), transparent) ;
    width: 22rem;
    height: 29rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1rem 2rem;
}

/* ======= SROLL DOWN ========= */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

  
@keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
/* ===== MEDIA QUERIES (TABLETS AND ALL) ====== */
@media screen and (max-width: 1024px) {
    header {
        height: 44 rem;
    }
}

/* ===== MEDIA QUERIES (PHONES) ====== */
@media screen and (max-width: 600px) {
    header {
        height: 40rem;
        padding-top: 4rem;
    }
    .header__socials,
    .scroll__down {
        display: none;
    }
}

